.u-section-1 {
  background-image: linear-gradient(#3378b5, #3378b5);
}

.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-gallery-1 {
  height: 651px;
  width: 1127px;
  margin: 32px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-back-image-1 {
  object-position: 100% 20.3%;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-back-image-4 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#3378b5, #332c29);
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-size: 1rem;
  padding-left: 0;
  padding-right: 0;
  margin: 135px auto 0 4px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 20px auto 0 4px;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 20px auto 0 2px;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 18px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 23px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-icon-7 {
  margin-top: 5px;
}

.u-section-2 .u-list-1 {
  width: 868px;
  min-height: 521px;
  grid-template-columns: calc(33.3333% - 13px) calc(33.3333% - 13px) calc(33.3333% - 13px);
  grid-gap: 20px 20px;
  margin: -353px -52px 60px auto;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-icon-8 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 102px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 50px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-9 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 102px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 50px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-icon-10 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 102px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 50px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-11 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 102px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 50px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-icon-12 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 102px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 50px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-icon-13 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 102px 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 50vw;
  }

  .u-section-2 .u-btn-1 {
    width: 94px;
    margin-left: 200px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-2 {
    width: 45px;
    margin-left: 200px;
  }

  .u-section-2 .u-btn-3 {
    width: 98px;
    margin-left: 200px;
  }

  .u-section-2 .u-btn-4 {
    width: 46px;
    margin-left: 200px;
  }

  .u-section-2 .u-btn-5 {
    width: 96px;
    margin-left: 200px;
  }

  .u-section-2 .u-btn-6 {
    width: 141px;
    margin-left: 200px;
  }

  .u-section-2 .u-btn-7 {
    width: 79px;
    margin-top: 577px;
    margin-left: 200px;
  }

  .u-section-2 .u-list-1 {
    width: 947px;
    min-height: 590px;
    height: auto;
    margin-top: 296px;
    margin-right: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 420px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 420px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 420px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 420px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 420px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 420px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 1273px;
    margin-left: 420px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    min-height: 1017px;
    grid-template-columns: calc(50% - 9.75px) calc(50% - 9.75px);
    margin-top: 629px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-right: 446px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 495px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 442px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 494px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 444px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 399px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 3369px;
    margin-right: 461px;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    grid-template-columns: 100%;
    margin-top: 680px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-right: 246px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 295px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 242px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 294px;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 244px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 199px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 2136px;
    margin-right: 261px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 859px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 184px;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  border-style: none;
  margin: 60px auto 0 15px;
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  border-style: solid;
  background-image: none;
  margin: -38px auto 0 251px;
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  border-style: solid;
  background-image: none;
  margin: -38px auto 0 400px;
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  border-style: solid;
  background-image: none;
  margin: -38px 412px 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 304px;
  min-width: 144px;
  white-space: nowrap;
  margin: -38px 65px 60px auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 200px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 212px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 20px;
    margin-right: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-2 {
    margin-top: -38px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -28px;
    margin-right: -11px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-social-icons-1 {
    margin-top: -54px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-social-icons-1 {
    margin-top: -79px;
  }
}