.u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url("images/form_bg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1510px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 915px;
  background-image: none;
  margin: 19px 38px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 1418px;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 50px 1px;
}

.u-section-1 .u-group-1 {
  min-height: 1410px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Alata;
  margin: 0;
}

.u-section-1 .u-form-1 {
  height: 923px;
  background-image: none;
  width: 690px;
  margin: 38px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 500;
}

.u-section-1 .u-label-2 {
  font-weight: 500;
}

.u-section-1 .u-label-3 {
  font-weight: 500;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 500;
}

.u-section-1 .u-input-1 {
  font-weight: 500;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 500;
}

.u-section-1 .u-input-2 {
  font-weight: 500;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 500;
}

.u-section-1 .u-input-3 {
  font-weight: 500;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 500;
}

.u-section-1 .u-input-4 {
  font-weight: 500;
}

.u-section-1 .u-label-8 {
  font-weight: 500;
}

.u-section-1 .u-input-5 {
  font-weight: 500;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 500;
}

.u-section-1 .u-input-6 {
  font-weight: 500;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-weight: 500;
}

.u-section-1 .u-input-7 {
  font-weight: 500;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-weight: 500;
}

.u-section-1 .u-input-8 {
  font-weight: 500;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-weight: 500;
}

.u-section-1 .u-input-9 {
  font-weight: 500;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  font-weight: 500;
}

.u-section-1 .u-input-10 {
  font-weight: 500;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-14 {
  font-weight: 500;
}

.u-section-1 .u-input-11 {
  font-weight: 500;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-label-15 {
  font-weight: 500;
}

.u-section-1 .u-input-12 {
  font-weight: 500;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-label-16 {
  font-weight: 500;
}

.u-section-1 .u-input-13 {
  font-weight: 500;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-label-17 {
  font-weight: 500;
}

.u-section-1 .u-input-14 {
  font-weight: 500;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-label-18 {
  font-weight: 500;
}

.u-section-1 .u-input-15 {
  font-weight: 500;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-label-19 {
  font-weight: 500;
}

.u-section-1 .u-input-16 {
  font-weight: 500;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-label-20 {
  font-weight: 500;
}

.u-section-1 .u-input-17 {
  font-weight: 500;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-label-21 {
  font-weight: 500;
}

.u-section-1 .u-form-group-20 {
  text-align: left;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -46px auto 0 273px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1419px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-form-1 {
    width: 600px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 184px;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  border-style: none;
  margin: 60px auto 0 15px;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  border-style: solid;
  background-image: none;
  margin: -38px auto 0 251px;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  border-style: solid;
  background-image: none;
  margin: -38px auto 0 400px;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  border-style: solid;
  background-image: none;
  margin: -38px 412px 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 304px;
  min-width: 144px;
  white-space: nowrap;
  margin: -38px 65px 60px auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 200px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 212px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 20px;
    margin-right: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-2 {
    margin-top: -38px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -28px;
    margin-right: -11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-social-icons-1 {
    margin-top: -54px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-social-icons-1 {
    margin-top: -79px;
  }
}